
<div class="container">

  <div class="statement-full col-md-12">
    <h2>{{title}}</h2>

    {{version-view version=version}}

    {{editor-summary editorBio=editorBio editorId=editorId}}
    <p>{{problem}}</p>
    <p>{{full}}</p>
    {{#link-to 'statement.view' label class="pull-right"}}Summary{{/link-to}}
  </div>

  <div class="statement-actions col-md-10 col-md-offset-2">
  </div>

  <div class="statement-responses col-md-12">

  </div>

</div>


